<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="manifest" href="/manifest.json">

    <meta name="theme-color" content="#8936FF">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Care Connect">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="shortcut icon" href="/icons/favicon.png" type="image/x-icon">
  
    <link rel="stylesheet" href="/css/maicons.css">
  
    <!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->
  
   
    <script src="/js/app.js"></script>
  
    <link href='/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href='/css/sidebar.css' rel='stylesheet'>
    <!-- <script src="/js/sidebar.js"></script> -->
</head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="sidebar close" id="sidebar">
                    <div class="logo-details">
                      <div class="menus" id="menus">
                        <i class="bx bx-menu" id="menu-i"></i>
                      </div>
                      <span class="logo_name">Care Connect</span>
                    </div>
                    <ul class="nav-links">
                      <li>
                        <a href="/dashboard">
                          <i class="bx bx-grid-alt"></i>
                          <span class="link_name">Dashboard</span>
                        </a>
                        <ul class="sub-menu blank">
                          <li><a class="link_name" href="/dashboard">Dashboard</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="/manager/cattles">
                          <i class="fas fa-cow"></i>
                          <span class="link_name">Cattle</span>
                        </a>
                        <ul class="sub-menu blank">
                          <li><a class="link_name" href="/manager/cattles">Cattle</a></li>
                        </ul>
                      </li>
                  
                    </ul>
                  </div>

                    <div class="col-md-9 main-content">
                        <div class="header">
                            <div class="header-content">
                                <div class="quote">
                                    <p>And He is with you wherever you are; and Allah, of what you do, is Seeing.</p>
                                    <p class="cite">- Quran 57:4</p>
                                </div>
                            </div>
                        </div>
                        <div class="p">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae placeat voluptatem, minus
                            pariatur
                            enim, eligendi et vel obcaecati facere consectetur soluta reiciendis quas nemo adipisci
                            commodi
                            omnis, nihil doloremque? Modi, error minima laudantium tenetur eos illum non qui doloremque
                            perferendis ad ipsa adipisci hic consequuntur voluptatem placeat sit cumque dolores atque
                            pariatur
                            rem excepturi sint, sapiente, alias similique. Nemo saepe inventore accusamus ea aperiam est
                            quas
                            asperiores adipisci eveniet facilis laboriosam soluta magnam modi ex, ratione vero iusto
                            provident
                            voluptatibus voluptatem? Aliquid laudantium veritatis natus doloribus aliquam iusto aperiam?
                            Voluptatibus, repudiandae! Consequatur unde expedita pariatur, ipsa voluptas ratione
                            accusantium
                            doloribus nulla quos nostrum dolorum error, cumque cupiditate obcaecati velit? Distinctio
                            perspiciatis, praesentium reprehenderit eveniet rem voluptatum quis dicta aliquid assumenda.
                            Cumque,
                            possimus optio. Sunt mollitia quia aspernatur quae minima autem dolorem atque et laborum
                            soluta,
                            sapiente asperiores deleniti temporibus ab iusto consequuntur ea, doloribus nostrum libero
                            odit.
                            Expedita minima ipsam libero magnam voluptatibus nihil aut adipisci et laborum dignissimos
                            vel sit
                            ullam laudantium quae cum culpa ipsa ad, quos, accusantium aspernatur eaque dolore impedit.
                            Atque
                            minima alias distinctio magnam! Aperiam possimus et modi! Maiores voluptatibus natus a nam
                            cumque
                            perspiciatis, non minus ipsam reprehenderit nemo, earum quos sit architecto? Harum?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus animi dicta, nam at
                            dolores,
                            minima incidunt quis deserunt necessitatibus amet modi consequatur, consectetur atque? Est
                            dolore at
                            ex fugiat culpa labore, ut voluptates ducimus excepturi eligendi consequatur quis sit magnam
                            laudantium inventore eius! Repellat necessitatibus minus possimus fugit omnis fugiat porro
                            molestias
                            quia rem velit. Minima voluptatibus ab non delectus quo. Saepe debitis aperiam quia
                            accusamus
                            recusandae minus aliquid sint id! Quia molestiae laborum vel. Veniam, corporis cum. Illo
                            natus rem
                            accusantium possimus ipsum aliquam quia recusandae quasi enim voluptatibus, dolorem minus
                            quidem
                            quam laboriosam veritatis sint. Repellendus atque quo aliquam earum magni consequuntur
                            voluptatum
                            quibusdam quaerat, nobis fugiat enim hic at culpa aspernatur eligendi sint minima repellat
                            quasi
                            aperiam doloremque dolorum, repudiandae molestias? Eius doloremque debitis cum neque quam
                            illum
                            voluptatum aspernatur officia consectetur possimus assumenda obcaecati sapiente fugiat
                            necessitatibus vel dolorum minus, molestias molestiae ipsum. Nemo velit facere, numquam quos
                            culpa
                            at, ea molestias veritatis amet aperiam maxime repellendus autem atque architecto
                            exercitationem
                            magni necessitatibus eum. Voluptatibus doloremque quo quaerat quae voluptates perspiciatis
                            architecto aliquid et corrupti tenetur repudiandae consequatur quibusdam ex minus delectus,
                            porro
                            doloribus nostrum fugiat, iusto libero! Eligendi id ratione libero cumque ipsam qui cum
                            accusamus,
                            eius harum animi quisquam dolorem veritatis sequi unde minima quia dolore optio quaerat at,
                            reprehenderit esse. Atque esse sunt, omnis est velit blanditiis consectetur quo quia
                            repellat nobis
                            debitis, culpa, placeat recusandae non quis nemo. Esse sequi quis unde dolore aspernatur
                            autem
                            quidem quibusdam reiciendis repellendus, laboriosam provident pariatur voluptatem sapiente
                            quos
                            quas, exercitationem reprehenderit! Esse tenetur perspiciatis labore mollitia excepturi
                            recusandae
                            iure et ad voluptate similique animi dolor quod provident aut totam, optio saepe eius
                            laudantium
                            suscipit exercitationem quas inventore neque, reiciendis modi! Doloribus vel repellat ipsa
                            natus
                            laudantium. Ratione dolores sint repellat aperiam, non ad cumque enim voluptatibus. Dicta,
                            quae,
                            tenetur illum pariatur sunt quia tempora reprehenderit tempore eius ullam esse laborum iusto
                            quasi,
                            incidunt commodi ipsa consequatur nostrum maxime eligendi libero! Ullam ea voluptates odio
                            blanditiis adipisci similique corporis, suscipit debitis hic ducimus aperiam libero, illo
                            consequuntur! Nemo exercitationem odio cum praesentium, officia accusantium odit aliquid
                            perspiciatis sed repellat iste incidunt illum, id tempore voluptates eligendi? Iusto, hic
                            dolorum.
                            At sed porro corporis animi? Nam a atque facilis tempore laudantium, debitis ipsam,
                            molestias,
                            magnam numquam accusantium quidem illo. Cupiditate facere maiores consectetur nesciunt
                            laudantium,
                            in sint voluptate dolorem beatae officia aspernatur eligendi omnis debitis inventore
                            tempora.
                        </div>
                    </div>
            </div>
        </div>

        <button class="btn btn-primary sidebar-toggler d-md-none">Toggle Sidebar</button>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            let arrow = document.querySelectorAll(".arrow");
          for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e)=>{
           let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
           arrowParent.classList.toggle("showMenu");
            });
          }
          let sidebar = document.getElementById("sidebar");
          let sidebarBtn = document.getElementById("menus");
          let topNav = document.querySelector('.topNav')
          
          
          
          console.log(window.innerWidth)
          if (window.innerWidth <= 980) {
            sidebar.style.height = '60px'
            sidebar.style.position = 'fixed'
            sidebar.style.top = '16px'
            sidebar.style.backgroundColor = 'none'
            sidebar.style.overflow = 'hidden'
            sidebar.style.boxShadow = 'none'
            sidebar.style.zIndex = '100'
          
          
            sidebarBtn.addEventListener("click", () => {
              sidebar.classList.toggle("close");
              console.log('done');
              sidebar.classList.toggle("heights-full");
            });
          } else if(window.innerWidth >= 980) {
          console.log(window.innerWidth)
          
            sidebar.style.position = 'sticky'
          
            sidebarBtn.addEventListener("click", ()=>{
              sidebar.classList.toggle("close");
            });
          }
          
          </script>
    </body>

</html>