<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <title>Care Connect </title>

  <link rel="manifest" href="/manifest.json">

  <meta name="theme-color" content="#8936FF">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Care Connect">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="shortcut icon" href="/icons/favicon.png" type="image/x-icon">

  <link rel="stylesheet" href="/css/maicons.css">

  <link rel="stylesheet" href="/css/bootstrap.css">

  <link rel="stylesheet" href="/vendor/owl-carousel/css/owl.carousel.css">

  <link rel="stylesheet" href="/vendor/animate/animate.css">

  <link rel="stylesheet" href="/css/theme.css">

  <script src="/js/app.js"></script>

</head>
