<div class="page-section">
  <div class="container">
    <h1 class="text-center wow fadeInUp">Make an Appointment</h1>

    <form class="main-form" action="/book-Appointment" method="post">
      <div class="row mt-5 ">
        <div class="col-12 col-sm-6 py-2 wow fadeInLeft">
          <input type="text" class="form-control" placeholder="Full name" name="name" required>
        </div>
        <div class="col-12 col-sm-6 py-2 wow fadeInRight">
          <input type="text" class="form-control" placeholder="Email address.." name="email" required>
        </div>
        <div class="col-12 col-sm-6 py-2 wow fadeInLeft" data-wow-delay="300ms">
          <input type="date" class="form-control" name="date" required>
        </div>

        <div class="col-12 col-sm-6 py-2 wow fadeInRight" data-wow-delay="300ms">
          <select name="facilityId" id="departement" class="custom-select" required>
            <% if (hospitals && hospitals.length > 0) { %>
              <option disabled selected>Select Facility</option>
              <% hospitals.forEach(hospital => { %>
                <option value="<%= hospital._id %>"><%= hospital.name %></option>
              <% }) %>
            <% } else { %>
              <option disabled selected>No Facilities Found</option>
            <% } %>
          </select>
        </div>

        <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
          <input type="time" class="form-control" name="time" placeholder="Time Of Appointment" required>
        </div>
        <div class="col-12 py-2 wow fadeInUp" data-wow-delay="300ms">
          <textarea name="message" id="message" class="form-control" required rows="6" placeholder="Enter message.."></textarea>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-3 wow zoomIn">Submit Request</button>
    </form>
  </div>
</div> <!-- .page-section -->