<form class="d-flex  justify-content-end " style="width: 40%;" action="/dashboard/<%= accountType %>/<%= account._id %>/patients/search" method="get">
    <!-- <div class="col-lg-6"> -->
        <div class="input-group border-dark-subtle">
          <input type="text" required class="form-control border-primary" placeholder="Search for..." name="query"  value="<%= typeof query !== 'undefined' ? query : '' %>">
          <span class="input-group-btn">
            <button class="btn btn-outline-primary" style="border-left: none; border-radius: 0px 5px 5px 0px;" type="submit">Go!</button>
          </span>
        </div>
      <!-- </div> -->
</form>